<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>レストランのメニュー</title>
</head>
<body>
  <h2>お品書き</h2>
  <table>
      <% for( let row of data ) { %>
        ID:<%= row.id %><br>
        値段:<%= row.cost %><br>
        料理名:<%= row.name %><br>
      <% } %>
  </table>
</body>
</html>