<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ポケモン図鑑</title>
</head>
<body>

    <p>検索結果：<%= judgement %></p>
    <hr>
    <form action="/pokemon">
        <label for="name">どのポケモンが知りたい？</label>
        <input type="name" name="name" >
    </form>   
</body>
</html>