<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>select</title>
</head>
<body>
    <p>🫲(?)(?)(?)🫱</p> 
    <p>結果発表：<%= judgement %></p>
    <hr>
    <form action="/select">
        <label for="cup">どれが正解？</label>
        <input type="cup" name="cup" >
    </form>   
</body>
</html>