<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>select</title>
</head>
<body>
    <h1>🫲(?)(?)(?)🫱</h1> 
    <p>結果発表：<%= judgement %></p>
    <hr>
    <form action="/select">
        <label for="cup">どれが正解？</label>
        <br>
        <label><input type="radio" name="cup" value="左">左</label>
        <br>
        <label><input type="radio" name="cup" value="真ん中">真ん中</label>
        <br>
        <label><input type="radio" name="cup" value="右">右</label>
        <br>
        <input type="submit" name="submit" value="検索">
        <br>
        <label>目の前に3つのカッコがあります．</label>
        <br>
        <label>どれか一つにお宝が入っています．</label>
        <br>
        <label>ボタンを選んで運試ししよう!</label>
        <br>
        <label>外れたら入っていた場所が表示されるよ！</label>
        </form>
    </body>
</html>
