.cover {
    border-bottom: 1px solid #c0c0c0;
    margin: 3px;
}

.name {
    font-weight: bold;
    width: 8em;
}

.textContent {
    font-size: 24px;
    font-weight: bold;
    color: red;
    
}

.cost {
    font-size: 24px;
    font-weight: bold;
    color: red;
}